@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&family=Satisfy&family=Ubuntu:wght@300&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}